include README.md
include requirements.txt
include models/model_metadata.json
include models/model.pkl
include models/scaler.pkl
recursive-include templates *
recursive-include data *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * .DS_Store
